{% extends 'admin/index.html' %}
{% load template_helpers %}

{% block content %}{{ block.super }}
<h1 id="hilfe"><span id="hilfe__inner" class="wigglepower">Hilfe im Wiki</span></h1>
<ul>
  <li><a href="{% wiki 'BV:BuVo:NAJU-Cloud im BuVo#Schreiben von Protokollen' %}">
    Protokolle schreiben
  </a></li>
  <li><a href="{% wiki 'BV:BuVo:BuVo-Tool' %}">
    Verwendung dieser Software
  </a></li>
</ul>
<script>
  let help = document.getElementById('hilfe__inner');
  help.onclick = () => {
    help.classList.toggle('wigglepower')
  }
</script>
{% endblock content %}
