{% extends 'admin/change_form.html' %}

{% block after_field_sets %}
{% if original.protocol %}
<p><a href="{% url 'admin:tasks_protocol_change' original.protocol.pk %}">
  Zum Protokoll: {{original.protocol}}
</a></p>
{% endif %}
{% endblock after_field_sets %}
