.remote-caret {
	position: absolute;
	border-left: black;
	border-left-style: solid;
	border-left-width: 2px;
	height: 1em;
	bottom: 0;
}

.remote-caret > div {
	position: relative;
	top: -1.05em;
	left: -2px;
	font-size: 13px;
	/* background-color: rgb(250, 129, 0); */
	font-family: var(--fonts-main);
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	user-select: none;
	color: white;
	padding-left: 2px;
	padding-right: 2px;
	z-index: 3;
}

.HyperMD-header .remote-caret {
	bottom: 0.6em;
}

.hmd-inactive-line {
	min-height: 1.5em;
}

.cm-header {
	font-family: var(--fonts-heading);
}

.CodeMirror {
	font-family: var(--fonts-main);
}

.cm-s-hypermd-light span.cm-formatting-list {
	margin-top: 0.175em;
}

.cm-formatting-header,
.cm-s-hypermd-light .CodeMirror-linewidget kbd,
.cm-s-hypermd-light .hmd-fold-code-stub,
.cm-s-hypermd-light .hmd-fold-html kbd,
.cm-s-hypermd-light .hmd-fold-html-stub,
.cm-s-hypermd-light pre.HyperMD-hr,
.cm-s-hypermd-light pre.HyperMD-table-row span.cm-hmd-table-sep,
.cm-s-hypermd-light span.cm-formatting-code-block,
.cm-s-hypermd-light span.cm-formatting-code,
.cm-s-hypermd-light span.cm-formatting-em,
.cm-s-hypermd-light span.cm-formatting-hashtag,
.cm-s-hypermd-light span.cm-formatting-image,
.cm-s-hypermd-light span.cm-formatting-link,
.cm-s-hypermd-light span.cm-formatting-strikethrough,
.cm-s-hypermd-light span.cm-formatting-strong,
.cm-s-hypermd-light span.cm-formatting-task,
.cm-s-hypermd-light span.cm-hmd-frontmatter,
.cm-s-hypermd-light span.cm-hmd-indent-in-quote,
.cm-s-hypermd-light span.cm-hmd-orgmode-markup,
.cm-s-hypermd-light span.cm-math,
.cm-s-hypermd-light span.cm-url,
.cm-s-hypermd-light span.hmd-fold-math-placeholder,
.cm-s-hypermd-light.CodeMirror div.HyperMD-hover > .HyperMD-hover-content code {
	color: var(--grey-medium);
}

.cm-s-hypermd-light span.cm-link,
.cm-s-hypermd-light span.cm-inline-code,
.cm-s-hypermd-light pre.HyperMD-codeblock {
	color: var(--green);
}

.CodeMirror-gutters {
	/* border-right: 1px solid #ddd!important; */
	background-color: white;
	white-space: nowrap;
}

.cm-s-hypermd-light .CodeMirror-activeline-gutter,
.cm-s-hypermd-light .CodeMirror-activeline-background {
	background: var(--grey-light);
}

.cm-s-hypermd-light .CodeMirror-linenumber {
	color: var(--grey-medium);
}

.cm-s-hypermd-light .CodeMirror-activeline-gutter .CodeMirror-linenumber {
	color: var(--grey);
}
.cm__hyperlink input {
	width: 30ch;
}

.cm__hyperlink span {
	color: var(--grey-medium);
}

/* Sidebar */
.sidebar__userlist {
	list-style-type: none;
	padding: 0;
}

.sidebar__user {
	color: white;
	padding: 0.25rem 0.5rem;
}

.sidebar__userlist-heading {
	margin: 0 0 0.5rem;
}

.errorlist {
	color: var(--pink);
}
