{% extends 'admin/change_list.html' %}

{% block object-tools-items %}{{block.super}}
{% if has_add_permission %}
  <li><a href="{% url 'tasks:protocol-create-redirect' %}" class="addlink">
    Neues Protokoll im Editor erstellen
  </a></li>
{% endif %}
{% endblock %}
