{% extends "admin/change_form.html" %}
{% load template_helpers static %}

{% comment %} {% block object-tools-items %}{{block.super}}
{% for name, desc in action_choices %}
  <li><form action="" method="post">{% csrf_token %}<input type="submit" name="{{name}}" value="{{desc}}"/></form></li>
{% endfor %}
{% endblock object-tools-items %} {% endcomment %}

{% block after_field_sets %}
{% if original.unknown_meta %}
<h3>{% verbose_name original 'unknown_meta' %}</h3>
<dl class="protocol__unknown-meta">
  {% for key, values in original.unknown_meta.items %}
  <dt>{{key}}</dt>
  {% for value in values %}<dd>{{value}}</dd>{% endfor %}
  {% endfor %}
</dl>
{% endif %}

<h3>Hinweise</h3>
<p>
  Die Felder mit den Metadaten werden automatisch ausgefüllt, wenn sie am Anfang im Protokoll
  stehen. Dazu einfach die Informationen im Format „<code>Feldname: Inhalt</code>“ eintragen,
  also zB:
</p>

<pre>
Anwesende: Eins, Zwei, Drei

Ort: Berlin
</pre>

<hr style="margin: 2rem 0;" />

{% if original.pk %}
<p>
  <a href="{% url 'tasks:protocol-html' pk=original.pk %}" target="_blank">Protokoll ansehen</a> |
  <a href="{% url 'tasks:protocol-edit' pk=original.pk %}">Protokoll bearbeiten</a> |
	<a href="{% url 'tasks:protocol-md' pk=original.pk %}" download="{{original.title}}.md">Protokoll herunterladen</a>
</p>
{% endif %}
{% if original.protocol_intern_odt %}
<p>
  <a href="{{original.protocol_intern_odt.url}}" target="_blank">internes ODT-Protokoll herunterladen</a> |
	<a href="{{original.protocol_intern_pdf.url}}" target="_blank">internes PDF-Protokoll herunterladen</a>
</p>
{% endif %}
{% if original.protocol_extern_odt %}
<p>
	<a href="{{original.protocol_extern_odt.url}}" target="_blank">externes ODT-Protokoll herunterladen</a> |
	<a href="{{original.protocol_extern_pdf.url}}" target="_blank">externes PDF-Protokoll herunterladen</a>
</p>
{% endif %}

<p>
{% if original.downloads_are_latest %}
  {% comment %} {% destructure lv_mail %}
  <a href="mailto:{{to|urlencode}}?subject={{subject|urlencode}}&body={{body|urlencode}}">
    Externes PDF-Protokoll an Landesverbände versenden
  </a>
  {% enddestructure %} {% endcomment %}
{% else %}
  <span style="color: var(--delete-button-bg)">
    Die ODT- und PDF-Protokolle sind nicht aktuell und müssen neu erstellt werden,
    bevor das PDF an die Landesverbände gesendet werden kann.
  </span>
{% endif %}
</p>

<p>{% for name, desc in action_choices %}
  <input type="submit" name="{{name}}" value="{{desc}}"/>
{% endfor %}</p>
{% endblock %}
