{% load static template_helpers %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{subtitle}} | {{title}} | {{site_title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/editor.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/app.css' %}" />
  </head>
  <body>

    <div class="protoed">
      <h1 class="protoed__header">
        <a href="{% url 'admin:index' %}">{{site_title}}</a> – {{title}} – {{subtitle}}
      </h1>

      <aside class="protoed__sidebar" id="protoed__sidebar">
        <div class="sidebar__controls" id="sidebar__controls">
          <button id="sidebar__save" class="sidebar__button">Sichern</button>
          <button id="sidebar__save-exit" class="sidebar__button">Sichern und verlassen</button>
          <button title="Als Markdown herunterladen"
            id="sidebar__download" class="sidebar__button"
          >Herunterladen</button>
        </div>
        <div class="sidebar__errors sidebar__errors--noerrors" id="sidebar__errors">
          <h2>Fehler</h2>
          <!-- inserted in case of saving error -->
        </div>
        <div class="sidebar__users" id="sidebar__users">
          <!-- rendered with preact -->
        </div>
        <div class="sidebar__hints">
          <h2>Hinweise</h2>
          <ul class="sidebar__hintslist">
            <li>Kommentare und Intern-Markierungen dürfen nicht ineinander verschachtelt werden.</li>
            <li>Der Text wird nach jeder Änderung automatisch zwischengespeichert.</li>
            <li>Links können mit <span class="nowrap"><code>Alt</code> + <code>Klick</code></span> geöffnet werden.</li>
            <li><button type="button" id="sidebar__help-button" class="controls__button">
              Tastenkürzel und weitere Tips
            </button></li>
          </ul>
        </div>
      </aside>

      <section class="protoed__controls" id="protoed__controls">
        <!-- rendered with preact -->
      </section>

      <main class="protoed__editor" id="protoed__editor">
        {{ editor_settings|json_script:"protocol-jssettings" }}
        <textarea id="protocol-editor">{{protocol.md_editable}}</textarea>
      </main>

      <footer class="protoed__status">
        Markdown-Anleitungen:
        <a href="https://www.markdownguide.org/basic-syntax/" taget="_blank">Englisch</a>,
        <a href="https://de.wikipedia.org/wiki/Markdown" taget="_blank">Deutsch</a>
        |
        Wiki:
        <a href="{% wiki 'BV:BuVo:NAJU-Cloud im BuVo#Schreiben von Protokollen' %}" target="_blank">
          Protokolle schreiben
        </a>
      </footer>
    </div>

    <aside class="protoed__help hidden" id="protoed__help">
      <h2>Tastenkürzel</h2>
      <table class="help__shortcuts">
        <thead>
          <tr>
            <th>Kürzel</th>
            <th>Aktion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="2">Allgemein</th>
          </tr>
          <tr>

            <td>
              <span class="nowrap">
                <strong>Windows, Linux:</strong> <code>Strg</code> + <code>I</code>
              </span><br/>
              <span class="nowrap">
                <strong>macOS:</strong> <code>⌘</code> + <code>I</code>
              </span>
            </td>
            <td>(markierten) Text <i>kursiv</i> schalten</td>
          </tr>

          <tr>
            <td>
              <span class="nowrap">
                <strong>Windows, Linux:</strong> <code>Strg</code> + <code>B</code>
              </span><br/>
              <span class="nowrap">
                <strong>macOS:</strong> <code>⌘</code> + <code>B</code>
              </span>
            </td>
            <td>(markierten) Text <b>fett</b> schalten</td>
          </tr>

          <tr>
            <td>
              <span class="nowrap">
                <strong>Windows, Linux:</strong> <code>Strg</code> + <code>D</code>
              </span><br/>
              <span class="nowrap">
                <strong>macOS:</strong> <code>⌘</code> + <code>D</code>
              </span>
            </td>
            <td>(markierten) Text <s>durchgestrichen</s> schalten</td>
          </tr>

          <tr>
            <td>
              <span class="nowrap">
                <strong>Windows, Linux:</strong> <code>Alt</code> + <code>Klick</code>
              </span><br/>
              <span class="nowrap">
                <strong>macOS:</strong> <code>⌥</code> + <code>Klick</code>
              </span>
            </td>
            <td>Link öffnen</td>
          </tr>

          <tr>
            <th colspan="2">Listen</th>
          </tr>

          <tr>
            <td><code>Tab</code></td>
            <td>Listenebene erhöhen</td>
          </tr>

          <tr>
            <td><code>⇧</code> + <code>Tab</code></td>
            <td>Listenebene verringern</td>
          </tr>

        </tbody>
      </table>
    </aside>
    <div id="help__backdrop" class="hidden"></div>
    {% comment %} <script type="application/javascript" src="{% static 'tasks/app.c328ef1a.js' %}"></script> {% endcomment %}
    <script type="application/javascript" src="{% static 'tasks/app.js' %}" type="module"></script>
  </body>
</html>
