{% extends "admin/base_site.html" %}
{% load i18n admin_urls static crispy_forms_tags %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "tasks/uni-form-custom.css" %}">
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} custom-view{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' protocol.pk %}">{{protocol.title}}</a>
&rsaquo; E-Mail an LV
</div>
{% endblock %}

{% block content %}
<div class="content-main" style="max-width: 800px">
<form action="" method="post" class="uniForm">
  {% csrf_token %}

  {% crispy form %}

  <div class="submit-row">
    <a href="{% url opts|admin_urlname:'change' protocol.pk %}" class="button cancel-link">Zurück</a>
    <input type="submit" value="E-Mail absenden" class="default"/>
  </div>
</form>
</div>
{% endblock %}
