@import url(../tasks/fonts.css);

:root {
    --blue: hsl(198, 87%, 38%);
    --indigo: hsl(254, 26%, 47%);
    --purple: hsl(293, 25%, 47%);
    --pink: hsl(332, 52%, 49%);
    --red: hsl(356, 72%, 49%);
    --orange: hsl(24, 79%, 58%);
    --yellow: hsl(57, 85%, 68%);
    --green: hsl(140, 52%, 32%);
    --lime: hsl(95, 39%, 43%);
    --teal: hsl(177, 96%, 35%);
    --cyan: hsl(191, 67%, 52%);

    --green-medium: hsl(140, 35%, 45%);
    --lime-medium: hsl(95, 34%, 55%);
    --lime-light: hsl(95, 39%, 85%);

    --primary: var(--green);
    --secondary: var(--green);
    --link-fg: var(--green);
    --link-selected-fg: var(--lime);
    --accent: #fff;
    --selected-row: var(--lime-light);
    --header-color: var(--accent);
    --button-bg: var(--lime);
    --default-button-hover-bg: var(--green-medium);
    --button-hover-bg: var(--lime-medium);
    --message-success-bg: var(--lime-light);

    --grey: #666;
    --grey-medium: #bbb;
    --grey-light: #f7f7f7;

    --green-medium: hsl(140, 35%, 45%);
    --lime-medium: hsl(95, 34%, 55%);
    --lime-light: hsl(95, 39%, 85%);

    --fonts-main: "Source Sans Pro", "Lucida Grande", "DejaVu Sans",
        "Bitstream Vera Sans", Verdana, Arial, sans-serif;

    --fonts-heading: "Amaranth", "Source Sans Pro", "Lucida Grande",
        "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

body,
input,
textarea,
select,
.form-row p,
form .button {
    font-family: var(--fonts-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fonts-heading);
}

@media screen and (min-width: 768px) {
    .change-form .submit-row,
    .add-form .submit-row {
        position: sticky;
        bottom: 0.5rem;
        box-shadow: 0 1px 4px -1px #0007;
    }

    .paginator {
        position: sticky;
        bottom: 0;
    }
}

#user-tools a:focus,
#user-tools a:hover {
    text-decoration: none;
    border-bottom-color: var(--accent);
    color: var(--accent);
}

.aligned label:not(.vCheckboxLabel) {
    text-align: right;
}

.main.shifted > #nav-sidebar {
    border-top: 0;
    left: unset;
}

.custom-view .cancel-link {
    height: 35px;
    line-height: 15px;
    border-radius: 4px;
    padding: 10px 15px;
    color: var(--button-fg);
    background: var(--close-button-bg);
    margin: 0;
    float: left;
}

.object-tools {
    /* max-width: 50%; */
    float: none;
    margin-top: 0;
}

.object-tools li {
    height: unset;
    margin: 0 0.25rem 0.25rem;
}

.object-tools input,
.object-tools a {
    margin: 0;
}

.object-tools input:focus,
.object-tools input:hover {
    background-color: var(--object-tools-hover-bg);
}
.object-tools input {
    display: block;
    float: left;
    padding: 3px 12px;
    background: var(--object-tools-bg);
    color: var(--object-tools-fg);
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 15px;
    line-height: 20px;
}

#content-main {
    display: flex;
    flex-direction: column;
}

.protocol__unknown-meta dd {
    padding-left: 0.5rem;
}

@keyframes wiggle2 {
    10% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(1rem);
    }
    30% {
        transform: translateX(-1rem);
    }
    40% {
        transform: translateX(1rem);
    }
    50% {
        transform: translateX(-1rem);
    }
    60% {
        transform: translateX(0);
    }
}

@keyframes wiggle {
    10% {
        transform: scale(1) rotate(0);
    }
    20% {
        transform: scale(1.2) rotate(0);
    }
    30% {
        transform: scale(1.2) rotate(15deg);
    }
    40% {
        transform: scale(1.2) rotate(-15deg);
    }
    50% {
        transform: scale(1.2) rotate(15deg);
    }
    60% {
        transform: scale(1) rotate(0);
        color: var(--red);
    }
    70% {
        transform: scale(1) rotate(0);
        color: var(--yellow);
    }
    80% {
        transform: scale(1) rotate(0);
        color: var(--red);
    }
    90% {
        transform: scale(1) rotate(0);
        color: var(--yellow);
    }
    100% {
        transform: scale(1) rotate(0);
        color: var(--red);
    }
}

.wigglepower {
    display: inline-block;
    color: var(--red);
    animation: 2s 6s 2 forwards wiggle;
    transform-origin: center;
}
