@import url(./fonts.css);

:root {
    --blue: hsl(198, 87%, 38%);
    --indigo: hsl(254, 26%, 47%);
    --purple: hsl(293, 25%, 47%);
    --pink: hsl(332, 52%, 49%);
    --red: hsl(356, 72%, 49%);
    --orange: hsl(24, 79%, 58%);
    --yellow: hsl(57, 85%, 68%);
    --green: hsl(140, 52%, 32%);
    --lime: hsl(95, 39%, 43%);
    --teal: hsl(177, 96%, 35%);
    --cyan: hsl(191, 67%, 52%);

    --grey: #666;
    --grey-medium: #bbb;
    --grey-light: #f7f7f7;

    --green-medium: hsl(140, 35%, 45%);
    --lime-medium: hsl(95, 34%, 55%);
    --lime-light: hsl(95, 39%, 85%);

    --fonts-main: "Source Sans Pro", "Lucida Grande", "DejaVu Sans",
        "Bitstream Vera Sans", Verdana, Arial, sans-serif;

    --fonts-heading: "Amaranth", "Source Sans Pro", "Lucida Grande",
        "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--fonts-main);
    background-color: var(--grey-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fonts-heading);
    font-weight: 400;
}

.nowrap {
    white-space: nowrap;
}

.protoed {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar controls"
        "sidebar editor"
        "status status";
    grid-template-columns: 15rem 1fr;
    grid-template-rows: min-content min-content 1fr 1.5rem;
    height: 100%;
}

.protoed__header {
    font-size: 1.5rem;
    height: 1.5rem;
    grid-area: header;
    margin: 0;
    padding: 0.5rem 0.5rem 0.75rem;
    background-color: var(--green);
}

.protoed__header,
.protoed__header a,
.protoed__header a:visited {
    color: white;
    text-decoration: none;
}

.protoed__sidebar {
    grid-area: sidebar;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.protoed__sidebar code {
    border: 1px solid var(--grey-medium);
    border-radius: 2px;
    padding: 0.125em 0.25em;
}

.protoed__controls {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5rem;
    grid-area: controls;
    height: min-content;
    /*  padding-left: 3rem;  */
}

.protoed__editor {
    grid-area: editor;
    overflow: hidden;
}

.protoed__status {
    grid-area: status;
    background-color: var(--green);
    color: white;
    padding: 0 0.5rem;
}
/*
.CodeMirror-line:not(.hmd-inactive-line) {
    background-color: var(--grey-light)!important;
} */

.controls__button,
.sidebar__button {
    font-family: var(--fonts-main);
    min-width: 1.75rem;
    height: 1.75rem;
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
    background: none;
    border: 1px solid var(--grey);
    border-radius: 2px;
    margin: 0.125rem 0;
}

.controls__button:disabled,
.sidebar__button:disabled {
    color: var(--grey-medium);
    border-color: var(--grey-medium);
}

.controls__button--active {
    background: rgba(0, 0, 0, 0.15);
}

.controls__flex-break {
    width: 100%;
    margin: 0.125rem;
}

.sidebar__button {
    background-color: var(--green);
    border: none;
    color: white;
}

.sidebar__button:hover {
    background-color: var(--green-medium);
}

.sidebar__controls {
    margin-bottom: 1rem;
}

.sidebar__errors--noerrors {
    display: none;
}

.sidebar__errors .errorlist {
    color: var(--pink);
}

.sidebar__users {
    margin-bottom: auto;
}

.sidebar__hintslist,
.sidebar__errors .errorlist {
    padding-left: 1em;
}

.protoed__status a {
    color: white;
}

.protoed__status a:visited {
    color: var(--yellow);
}

.protoed__help {
    background: white;
    border: 2px solid black;
    bottom: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    font-family: Verdana, sans-serif;
    height: 50vh;
    left: 0;
    line-height: 2;
    margin: auto;
    overflow: auto;
    padding: 2rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 50vw;
    z-index: 9999;
}

.hidden {
    display: none;
}

.help__shortcuts {
    width: 100%;
}

.help__shortcuts,
.help__shortcuts td,
.help__shortcuts th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

.protoed__help code {
    border: 1px solid lightgrey;
    background: #eee;
    border-radius: 2px;
    padding: 0.125rem 0.25rem;
    font-family: "Fira Code", Menlo, "Courier New", monospace;
}

#help__backdrop {
    backdrop-filter: blur(3px);
    background: rgba(50, 50, 70, 0.15);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9998;
}
