/* ==========================================================================
   Copyright (c) 2013, Dragan Babic
   --------------------------------------------------------------------------
   Permission is hereby granted, free of charge, to any person obtaining a
   copy of this software and associated documentation files (the "Software"),
   to deal in the Software without restriction, including without limitation
   the rights to use, copy, modify, merge, publish, distribute, sublicense,
   and/or sell copies of the Software, and to permit persons to whom the
   Software is furnished to do so, subject to the following conditions:
   The above copyright notice and this permission notice shall be included in
   all copies or substantial portions of the Software.
   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
   THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
   DEALINGS IN THE SOFTWARE.
   --------------------------------------------------------------------------
   Generals
   ========================================================================== */

.uniForm {
  margin: 0;
  padding: 0;
}

.uniForm * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* Reset stuff and prevent inheritance */

.uniForm fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* This are the main units that contain form elements */

.uniForm .ctrlHolder,
.uniForm .buttonHolder {}

/* Clear all floats */

  .uniForm:after,
  .uniForm .buttonHolder:after,
  .uniForm .ctrlHolder:after,
  .uniFormRow:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    min-height: 0;
    visibility: hidden;
  }

.uniForm label,
.uniForm button {
  cursor: pointer;
}

/* ==========================================================================
    Default layout
    --------------------------------------------------------------------------
    Styles for form controls where labels are above the input elements
    ========================================================================== */

/* Target only the "main" labels */

.uniForm .ctrlHolder > label,
.uniForm .ctrlHolder > .label {
  display: block;
  margin: 0;
  padding: 0;
}

/* Required fields asterisk styling */

.uniForm label em,
.uniForm .label em {
  float: left;
  width: .75em;
  margin: 0 0 0 -.75em;
  font-style: inherit;
  font-weight: inherit;
}

/* Float the input elements */

.uniForm .ctrl,
.uniForm .inputText,
.uniForm .inputFile,
.uniForm .inputSelect,
.uniForm .inputTextarea {
  float: left;
  width: 65%; /* 2% for spacing */
  margin: 0;
}

.uniForm .ctrl {
  padding-right: 3%;
}

/* Make some spacing between the label and the input/list */

.uniForm label + .inputText,
.uniForm label + .inputFile,
.uniForm label + .inputSelect,
.uniForm label + .inputTextarea {
  margin-top: .5em;
}

/* Postition the hints */

.uniForm .formHint {
  /* float: right;
  width: 33%; */
  margin: 0;
}

/* Grouped controls (one below the other by default) */

.uniForm .multi {
  float: left;
  width: 67%;
  margin: 0;
  padding: 0 3% 0 0;
}

.uniForm .multi + .formHint {
  margin-top: .5em;
}

  .uniForm .multi > li {
    margin: .5em 0;
    list-style: none;
  }

/* Alternate layout for grouped controls (stacked inline) */

.uniForm .multiInline > li {
  float: left;
  margin: .5em 0 0 0;
}

.uniForm .columns-2 > li {
  width: 50%;
}

.uniForm .columns-2 > li + li {
  padding-left: 2%;
}

.uniForm .columns-3 > li {
  width: 33.3%;
}

.uniForm .columns-3 > li + li,
.uniForm .columns-3 > li + li + li {
  padding-left: 2%;
}

.uniForm .multi .inputText,
.uniForm .multi .inputSelect,
.uniForm .multi select {
  display: inline-block;
  float: none;
  width: 100%;
  margin-top: 0;
}

/* ==========================================================================
    Alternate layout
    --------------------------------------------------------------------------
    Styles for form controls where labels are in line with the input elements
    --------------------------------------------------------------------------
    Set the class of the parent (preferably to a fieldset) to .inlineLabels
    ========================================================================== */

.uniForm .inlineLabels .ctrlHolder > label,
.uniForm .inlineLabels .ctrlHolder > .label {
  float: left;
  position: relative;
  width: 33%;
  padding-right: 3%;
}

/* Float the input elements */

.uniForm .ctrl,
.uniForm .inlineLabels .inputText,
.uniForm .inlineLabels .inputFile,
.uniForm .inlineLabels .inputSelect,
.uniForm .inlineLabels .inputTextarea {
  float: left;
  width: 67%;
  margin: 0;
}

/* Postition the hints */

.uniForm .inlineLabels .formHint {
  clear: both;
  float: none;
  width: auto;
  margin-left: 33%;
  padding-top: .5em; /* Must use padding because of the clearing */
}

/* Grouped controls (one below the other by default) */

.uniForm .inlineLabels .multi {
  float: left;
  width: 67%;
  margin: 0;
  padding: 0;
}

  .uniForm .inlineLabels .multi > li {
    margin: 0;
  }

  .uniForm .inlineLabels .multi > li + li {
    margin-top: .5em;
  }

    .uniForm .inlineLabels .multi label {
      float: none;
      display: block;
      width: 100%;
    }

    .uniForm .inlineLabels .multi .inputText,
    .uniForm .inlineLabels .multi .inputSelect,
    .uniForm .inlineLabels .multi .inputFile,
    .uniForm .inlineLabels .multi .inputTextarea {
      float: none;
      display: inline-block;
      width: 100%;
    }

/* Alternate layout for grouped controls (stacked inline) */

.uniForm .inlineLabels .multiInline > li + li {
  margin-top: 0;
}

/* ==========================================================================
    Additional stuff
    ========================================================================== */

/* When you don't want to use a label for grouped fields */

.uniForm .inlineLabels .noLabel .multi {
  margin-left: 33%;
}

/* Classes for control of the widths of the fields */

.uniForm .small {
  width: 30% !important
}

.uniForm .medium {
  width: 45% !important
}

.uniForm .large {
  float: none;
  display: block;
  width: 100% !important;
}

.uniForm .large + .formHint,
.uniForm .inlineLabels .large + .formHint {
  float: none;
  width: auto;
  margin-left: 0;
  padding-top: .3em;
}

.uniForm .auto {
  width: auto !important;
  height: auto !important;
  display: inline-block !important;
  float: none !important;
}

/* Make spacing in between two inputs */

.uniForm .small + input,
.uniForm .medium + input,
.uniForm .auto + input,
.uniForm .small + select,
.uniForm .medium + select,
.uniForm .auto + select {
  margin-right: 4px !important;
}

/* ==========================================================================
    Read-Only output
    ========================================================================== */

/* Default layout */

.uniForm .readOnlyLabel {
  display: block;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

.uniForm .readOnly {
  margin: .5em 0 0 0;
}

  .uniForm .readOnly .choiceLabel {
    color: #777;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .15em;
  }

/* Alternate layout */

.uniForm .inlineLabels .readOnlyLabel {
  float: left;
  position: relative;
  width: 33%;
  margin: 0;
  padding-right: 3%;
}

.uniForm .inlineLabels .readOnly {
  float: right;
  width: 67%;
  margin: 0;
}

.uniForm .inlineLabels .readOnly + .readOnly {
  margin-top: .5em;
}

/* ==========================================================================
    Columns
    ========================================================================== */

.uniFormRow {}

  .uniFormRow > .ctrlHolder {
    float: left;
  }

  .columns-2 > .ctrlHolder {
    width: 50%;
  }

  .columns-3 > .ctrlHolder {
    width: 33.3%;
  }

/* ==========================================================================
    480 breakpoint
    ========================================================================== */

@media screen and (max-width: 480px) {

  /* Default layout selectors */
  .uniForm .ctrlHolder > label,
  .uniForm .ctrlHolder > .label,
  .uniForm .inputText,
  .uniForm .inputSelect,
  .uniForm .inputTextarea,
  .uniForm .inputFile,
  .uniForm .ctrl,
  .uniForm .multi,
  .uniForm .multiInline > li,
  .uniForm .formHint,
  /* Alternate layout selectors */
  .uniForm .inlineLabels .ctrlHolder > label,
  .uniForm .inlineLabels .ctrlHolder > .label,
  .uniForm .inlineLabels .inputText,
  .uniForm .inlineLabels .inputSelect,
  .uniForm .inlineLabels .inputTextarea,
  .uniForm .inlineLabels .inputFile,
  .uniForm .inlineLabels .ctrl,
  .uniForm .multi,
  .uniForm .inlineLabels .multiInline > li,
  .uniForm .inlineLabels .formHint,
  .uniForm .inlineLabels .noLabel .multi {
    float: none;
    width: 100%;
  }

  .uniForm .inlineLabels label + .inputText,
  .uniForm .inlineLabels label + .inputFile,
  .uniForm .inlineLabels label + .inputSelect,
  .uniForm .inlineLabels label + .inputTextarea {
    margin-top: .5em;
  }

  .uniForm .inlineLabels .ctrlHolder > label,
  .uniForm .inlineLabels .ctrlHolder > .label,
  .uniForm .multi,
  .uniForm .multiInline > li,
  .uniForm .columns-2 > li + li,
  .uniForm .columns-3 > li + li,
  .uniForm .columns-3 > li + li + li {
    padding: 0;
  }

  .uniForm .formHint,
  .uniForm .inlineLabels .formHint,
  .uniForm .inlineLabels .noLabel .multi{
    margin-left: 0;
  }

}

/* ==========================================================================
   UNI-FORM STYLE by DRAGAN BABIC
   --------------------------------------------------------------------------
   Copyright (c) 2013, Dragan Babic
   --------------------------------------------------------------------------
   Permission is hereby granted, free of charge, to any person obtaining a
   copy of this software and associated documentation files (the "Software"),
   to deal in the Software without restriction, including without limitation
   the rights to use, copy, modify, merge, publish, distribute, sublicense,
   and/or sell copies of the Software, and to permit persons to whom the
   Software is furnished to do so, subject to the following conditions:
   The above copyright notice and this permission notice shall be included in
   all copies or substantial portions of the Software.
   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
   THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
   DEALINGS IN THE SOFTWARE.
   --------------------------------------------------------------------------
   NOTE ABOUT STYLING FORMS
   --------------------------------------------------------------------------
   When styling your form make sure to copy the selector from uni-form.css
   into this file and override it with your properties and values.
   ========================================================================== */

.uniForm {
  margin: 1.5em 0;
  padding-top: 1px;
}

/* ==========================================================================
    Form titles
    ========================================================================== */

.uniForm .uniFormTitle {
  margin: 1.5em 0;
  font-weight: bold;
  font-size: 1.25em;
}

/* ==========================================================================
    Holders
    ========================================================================== */

.uniForm .ctrlHolder {
  padding: 1em 1em 1.5em 1em;
  border: 1px solid #efefef;
  border-width: 1px 0 0 0;
}

.uniForm .inlineLabels .ctrlHolder {
  padding: 1.5em 1em;
}

/* .uniForm fieldset .ctrlHolder:last-child {
  border-bottom-width: 1px;
} */

.uniForm .ctrlHolder.focused {
  background: #fffcdf
}

.uniForm .buttonHolder {
  background: #efefef;
  margin-top: 1.5em;
  padding: 1.5em;
  border-radius: 4px;
}

/* ==========================================================================
    Design for input fields
    ========================================================================== */

.uniForm .inputText,
.uniForm .inputTextarea {
  padding: 5px;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.15) inset;
  box-shadow: 1px 1px 3px rgba(0,0,0,.15) inset;
}

.uniForm .inputText:focus,
.uniForm .inputTextarea:focus {
  border-color: #343434;
  outline: none;
}

.uniForm .inputTextarea {
  height: 12em;
}

.uniForm .inputSelect {}

.uniForm .inputFile {}

/* Disabled inputs */

.uniForm .inputDisabled {
  background-color: #f4f4f4;
  border-color: #ccc;
  color: #999;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ==========================================================================
    Buttons
    ========================================================================== */

.uniForm .actionPrimary {
  padding: 1em 2em;
  line-height: 1;
  background: #254a86;
  border: 1px solid #163362;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  text-shadow: -1px -1px 0 rgba(0,0,0,.25);
}

.uniForm .actionPrimary:focus,
.uniForm .actionPrimary:hover {
  background: #2b58a1;
}

.uniForm .actionPrimary:active {
  background: #1d3c6d;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,.5) inset;
}

.uniForm .actionSecondary,
.uniForm .buttonactionSecondary,
.uniForm input[type=submit].actionSecondary {
  float: right;
  background: transparent;
  border: none;
  margin: 1.25em 0 0 0;
  padding: 0;
  color: #999;
}

/* Disabled actions */

.uniForm .actionDisabled,
.uniForm .actionDisabled:link,
.uniForm .actionDisabled:visited,
.uniForm .actionDisabled:focus,
.uniForm .actionDisabled:hover,
.uniForm .actionDisabled:active {
  background: #ccc;
  border: 1px solid #aaa;
  color: #999;
  text-shadow: 1px 1px 0 rgba(255,255,255,.25);
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

/* ==========================================================================
    Required fields asterisks
    ========================================================================== */

.uniForm .inlineLabels label em,
.uniForm .inlineLabels .label em {
  font-style: inherit;
  font-weight: inherit;
}

/* ==========================================================================
    Labels within grouped controls
    ========================================================================== */

.uniForm .multi label {
  margin-top: .3em; /* Compensate for the smaller font size */
  font-size: .85em;
}

/* ==========================================================================
    Form hints
    ========================================================================== */

.uniForm .formHint {
  padding-top: .3em; /* Compensate for the smaller font size */
  font-size: .85em;
  color: #999;
}

.uniForm .ctrlHolder.focused .formHint {
  color: #343434;
}

/* ==========================================================================
    Messages
    ========================================================================== */

/* Error message at the top of the form ------------------------------------- */

.uniForm #errorMsg {
  background: #ffdfdf;
  border: 1px solid #f3afb5;
  margin: 1.5em 0;
  padding: 0 1.5em;
  border-radius: 4px;
}

.uniForm #errorMsg h3 {
  margin: 1em 0 0 0;
}

.uniForm #errorMsg ol {
  margin: 1.5em 0;
  padding: 0;
}

  .uniForm #errorMsg li {
    list-style: none;
    margin: 0 0 4px 0;
    padding: 7px;
    background: #f6bec1;
    position: relative;
    font-size: .85em;
    border-radius: 3px;
  }

/* Holder errors ------------------------------------------------------------ */

.uniForm .ctrlHolder.error,
.uniForm .ctrlHolder.focused.error {
  background-color: #ffdfdf;
  border-color: #f3afb5;
}

    .uniForm .ctrlHolder.error .inputText.error,
    .uniForm .ctrlHolder.error .inputFile.error,
    .uniForm .ctrlHolder.error .inputSelect.error,
    .uniForm .ctrlHolder.error .inputTextarea.error {
      color: #af4c4c;
      border-color: #c55f68;
    }

/* Success messages at the top of the form ---------------------------------- */

.uniForm #okMsg {
  background: #e1f4cd;
  border: 1px solid #b6cda4;
  margin: 0 0 1.5em 0;
  padding: 1.5em;
  text-align: center;
  border-radius: 4px;
}

    .uniForm #okMsg p {
      margin: 0
    }

/* Holder valid input ------------------------------------------------------- */

.uniForm .ctrlHolder.valid {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABpElEQVRIiWNgGAWDAfTvV+2vX6W0/v//UAN0OUZqWbLsoV7BodXv+mF8fUeexkzjGw0wPhM1LPn/v0LhyLp39chiF/d/qUf2GTM1LPqp/GT99y//NJDF2DiZHniZHa+E8Sn20bKHegUfXv1xQBefmGUeiMynyKL//0MNkOMFBvQdeRoZGVdfQBajKOi+yHzd/vvnfwlkMW5+5gvVPncj0dWS7aPpZzUavn78i5GMe1LMErGpJ8ui//9DDS7u/1KPLo4tyGAAI+j+/w81+Kn8bXndaiXGxU3PsWoiJchgAMVH//+HGmRPOL7/w6s/DusmvJq/649RAroGUoMMq0XZE47v//eXQQDGR7eMnCDDahE2ALPs///7AiVzTs1HlxcQYzmAXNTgAihlHSzokH2FbCB6xmRiZvgwtSDGkJGx4wEhi1B8xMi4+sLUAktHJmaGD+gKseV+myChRmIswbCIkGXIQECM5UCU/KUJxFiC1SJiLGNiZvjQHhuBN5URZREhy0gJMoIW4bKM1CAjCfz/H2pQv0ppfesW5fn//9/HSJGjgKYAAELOyUHrhNdJAAAAAElFTkSuQmCC);
  background-position: 99% 1em;
  background-repeat: no-repeat;
  background-size: 18px auto;
}

.uniForm .inlineLabels .ctrlHolder.valid {
  background-position: 31% 1.75em;
}

  .ctrlHolder.valid .inputText,
  .ctrlHolder.valid .inputSelect,
  .ctrlHolder.valid .inputTextarea {
    border-color: #88a24f;
    color: #88a24f;
  }

/* ==========================================================================
    Columns
    ========================================================================== */

/* Remove borders from .ctrlHolder */

.uniFormRow > .ctrlHolder {
  border: none;
}

/* Add borders to rows */

.uniFormRow {
  border: 1px solid #efefef;
  border-width: 1px 0 0 0;
}

.uniFormRow:last-child {
  border-bottom-width: 1px;
}

/* ==========================================================================
    480 breakpoint
    ========================================================================== */

@media screen and (max-width: 480px) {

  .uniForm .ctrlHolder,
  .uniForm .inlineLabels .ctrlHolder {
    padding-top: 1em;
    padding-bottom: 1.5em;
  }

  .uniForm .ctrlHolder.valid,
  .uniForm .inlineLabels .ctrlHolder.valid {
    background-position: 97% 1em;
  }

}
